*~
*-
\#*
*.gbr
*.fcstd1
*.zip
*.swp
*.swo
*.pdf
*.PDF
*.jpg
*.JPG
*.doc
*.xcf
*.bak
*.backup
.~lock*
*.pcb.lht.pcb
*.lht.lht.pcb
enclosure/examples/*
culture_shock_tweet_todo.txt
renamit
commit_message.txt
kvboard_transformer_calcs_specs
transformer_design
rejected_parts
parts_candidates
debug
#parts
shock_kvboard_purch_parts.ods
shock_micropulser_purch_parts.ods
STM32F401_similar_circuits
hardware_schematics_layouts/subc_test_cases
shootscreen
bwscanit
scanpage
pdf2pngmin
