\#*
*.pdf
*.PDF
*.jpg
*.JPG
*.bak
*.backup
.~lock*
*.pcb.lht.pcb
*.lht.lht.pcb
ffc_rfq_messsage.txt
photos_protos_tests_simuls
shock_kvboard_transformer_calcs_specs
transformer_design
rejected_parts
parts_candidates
STM32F401_similar_circuits
shootscreen
scanpage
scp2lab
*-

